:root{
    --cor_letra: black;
    --fonte_1: Arial;
    --fonte_2: Verdana;
    --cor_fundo: white;
    --azul_escuro: blue;
}
.topo{
    background-color: var(--azul_escuro);
    align-items: center;
    text-align: center;
    height: 70px;
    padding-top: 0px;
}
.titulo{
    color: white;
    --var:var(--fonte_2);
    font-size: 60px;
    font-weight: 400;
}
.pergunta{
    --var:var(--cor_letra);
    --var:var(--fonte_2);
    font-size: 30px;
    font-weight: 300;
}
.inicio{
    --var:var(--cor_letra);
    --var:var(--fonte_1);
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    align-items: center;
}
.links_escola{
    text-align: center;
    align-items: center;
}
.texto_escola{
    --var:var(--cor_letra);
    --var:var(--fonte_1);
    font-size: 25px;
    font-weight: 400;
}
.links_diversao{
    text-align: center;
    align-items: center;
}
.texto_diversao{
    --var:var(--cor_letra);
    --var:var(--fonte_1);
    font-size: 25px;
    font-weight: 400;
}
.links_outros_sites{
    text-align: center;
    align-items: center;
}
.texto_outros{
    --var:var(--cor_letra);
    --var:var(--fonte_1);
    font-size: 25px;
    font-weight: 400;
}
.links_clube{
    text-align: center;
    align-items: center;
}
.texto_clube{
    --var:var(--cor_letra);
    --var:var(--fonte_1);
    font-size: 25px;
    font-weight: 400;
}
.rodape{
    background-color: var(--azul_escuro);
    text-align: center;
    align-items: center;
    height: 40px;
}
.tudo{
    background-color: var(--cor_fundo);
}
.fim{
    color: white;
}
a{
text-align: center;
}



