.header{
    background-color: blue;
    align-items: center;
    text-align: center;
    height: 70px;

}


.titulo{
    text-emphasis-color: aliceblue;
    font-family: monospace;
    font-size: 50px;
    font-weight: 300;
}