:root{
    --cor_letra: black;
    --fonte_1: Arial, Helvetica, sans-serif;
    --fonte_2: Verdana, Geneva, Tahoma, sans-serif;
}
.topo{
    background-color: blue;
    align-items: center;
    text-align: center;
    height: 70px;
    padding-top: 0px;
}
.titulo{
    color: white;
    --var:var(--cor_letra);
    --var:var(--fonte_2);
    font-size: 60px;
    font-weight: 400;
}
.inicio{
    text-align: center;
    align-items: center;
}
.subtitulo{
    --var:var(--cor_letra);
    --var:var(--fonte_2);
    font-size: 30px;
    font-weight: 300;
}
.texto{
    --var:var(--cor_letra);
    --var:var(--fonte_1);
    font-size: 20px;
    font-weight: 200;
}
.texto2{
    --var:var(--cor_letra);
    --var:var(--fonte_1);
    font-size: 20px;
    font-weight: 200;
}
.links_escola{
    text-align: center;
    align-items: center;
}
.texto_escola{
    --var:var(--cor_letra);
    --var:var(--fonte_1);
    font-size: 20px;
    font-weight: 200;
}
.links_diversao{
    text-align: center;
    align-items: center;
}
.texto_diversao{
    --var:var(--cor_letra);
    --var:var(--fonte_1);
    font-size: 20px;
    font-weight: 200;
}
.links_outros_sites{
    text-align: center;
    align-items: center;
}
.texto_outros{
    --var:var(--cor_letra);
    --var:var(--fonte_1);
    font-size: 20px;
    font-weight: 200;
}
.principal{
    background-color: aqua;
}

.rodape{
    background-color: blue;
    text-align: center;
    align-items: center;
    height: 50px;
}
.fim{
    color: white;
    --var:var(--fonte_2);
    font-size:30px ;
    font-weight: 300;
}




